/* layer: default */
@property --un-text-opacity {syntax: "<percentage>";inherits: false;initial-value: 100%;}
.text-blue-fg{color:color-mix(in oklch, var(--colors-blue-fg) var(--un-text-opacity), transparent);}
@property --un-bg-opacity {syntax: "<percentage>";inherits: false;initial-value: 100%;}
.bg-amber-fg{background-color:color-mix(in oklch, var(--colors-amber-fg) var(--un-bg-opacity), transparent);}