/* layer: properties */
@property --un-text-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-bg-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
/* layer: default */
:where(.group,[group]):hover [group-hocus\:text-purple=""], :where(.group,[group]):focus-visible [group-hocus\:text-purple=""]{color:color-mix(in srgb, var(--colors-purple-DEFAULT) var(--un-text-opacity), transparent);}
[text-blue=""]{color:color-mix(in srgb, var(--colors-blue-DEFAULT) var(--un-text-opacity), transparent);}
[text-green=""]{color:color-mix(in srgb, var(--colors-green-DEFAULT) var(--un-text-opacity), transparent);}
[p-4=""]{padding:calc(var(--spacing) * 4);}
.bg-gray-100,
[bg-gray-100=""]{background-color:color-mix(in srgb, var(--colors-gray-100) var(--un-bg-opacity), transparent);}
@supports (color: color-mix(in lab, red, red)){
:where(.group,[group]):hover [group-hocus\:text-purple=""], :where(.group,[group]):focus-visible [group-hocus\:text-purple=""]{color:color-mix(in oklab, var(--colors-purple-DEFAULT) var(--un-text-opacity), transparent);}
[text-blue=""]{color:color-mix(in oklab, var(--colors-blue-DEFAULT) var(--un-text-opacity), transparent);}
[text-green=""]{color:color-mix(in oklab, var(--colors-green-DEFAULT) var(--un-text-opacity), transparent);}
.bg-gray-100{background-color:color-mix(in oklab, var(--colors-gray-100) var(--un-bg-opacity), transparent);}
[bg-gray-100=""]{background-color:color-mix(in oklab, var(--colors-gray-100) var(--un-bg-opacity), transparent);}
}