/* layer: cssvar-property */
@property --un-text-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-border-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-bg-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
/* layer: default */
.dark .dark\:text-secondary,
.text-secondary{color:color-mix(in oklch, var(--colors-secondary) var(--un-text-opacity), transparent);}
.border-accent{border-color:color-mix(in oklch, var(--colors-accent) var(--un-border-opacity), transparent);}
.bg-accent,
.light .light\:bg-accent{background-color:color-mix(in oklch, var(--colors-accent) var(--un-bg-opacity), transparent);}
.bg-primary,
.dark .dark\:bg-primary{background-color:color-mix(in oklch, var(--colors-primary) var(--un-bg-opacity), transparent);}